astroid==2.8.0
colorama==0.4.4
comtypes==1.2.0
docx==0.2.4
et-xmlfile==1.1.0
isort==5.9.3
lazy-object-proxy==1.6.0
lxml==4.9.2
mccabe==0.6.1
openpyxl==3.1.2
Pillow==9.5.0
platformdirs==2.4.0
pylint==2.11.1
python-docx==0.8.11
pywin32==306
toml==0.10.2
typing-extensions==3.10.0.2
wrapt==1.12.1
